/* VARIABLES */
/* fonts */
$fontOswald: 'Oswald', sans-serif;
$fontUltra: 'Ultra', serif;
/* colors */
$whiteColor: #FFFFFF;
$transparentBlack: #171B1B; 


/* MIXINS */
@mixin supTitle {
    font-family: $fontOswald;
    letter-spacing: 3px;
    
    text-transform: uppercase;
}

@mixin titleHeading {
    font-family: $fontUltra; 
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0px;
}

@mixin featuresTitleCard {
    font-family: $fontUltra;
    font-size: 40px;
    line-height: 48px;
}

@mixin valueCardName {
    font-family: $fontOswald;
    font-size: 24px;
}

@mixin buttonExplore {
    width: 170px;
    height: auto;

    background-color: #FFFFFF;

    border: 1px solid $transparentBlack;
    border-radius: 2px;

    padding: 10px 0;
    margin: 45px auto;

    cursor: pointer;

    span {
        font-family: $fontOswald;
        font-size: 16px;
        line-height: 24px;

        text-transform: uppercase;
    }
}

/* SELECTOR ALL */
*
*:before,
*:after {
    box-sizing: border-box;
}


/* BODY */
body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;

    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: $transparentBlack;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1170px;
    
    margin: 0 auto;
}


/* HEADER */
.header {
    width: 100%;
    min-height: 89px;

    z-index: 1000;
    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__corner {
        display: flex;
    }
    
    &__logo {
        font-family: $fontUltra;
        font-size: 40px;
        line-height: 48px;
        
        color:  #000000;
        
        margin-right: 45px;
    }
    
    &__button {
        display: flex;
        align-items: center;
        
        width: 113px;
        height: 40px;
        
        padding: 8px 25px;
        
        text-align: center;
        
        background-color: #000000;
        
        border: 1px solid #FFFFFF4B;
    }
    
    &__contact {
        display: inline-block;
        margin: 0 auto;
        font-family: $fontOswald;
        line-height: 24px;
        
        text-transform: uppercase;
        text-decoration: none;
        
        color: #FFFFFF;
    }
}


/* NAV */
.nav {
    display: flex;
    align-self: center;
    
    &__link {
        position: relative;
        text-decoration: none;
        
        color: #000000;
        
        padding-bottom: 0;
        margin-right: 40px;
        
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #000000;
            transition: width 0.3s ease-in-out;
        }
        
        &:hover::before {
            width: 100%;
        }
        
    }
}


/* INTRO */
.intro {

    &__inner {
        display: flex;
    }
    
    &__row {
        flex: 0 0 50%;
    }
    
    &__row-left {
        background-color: rgba(231, 212, 190, 0.44);
        
        position: relative;
        
        &::after {
            content: "";
            display: block;
            
            width: 134px;
            height: 276px;
            
            background: url(../images/bg_insert/rye.png);
            background-size: contain;
            background-repeat: no-repeat;
            
            z-index: 1;
        }
    }
    
    &__image {
        display: block;
        width: 100%;
        height: auto;
        
        object-fit: cover;
    }
    
    &__text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 40%;
        
        transform: translate(-40%, -50%);
    }
    
    
    &__suptitle {
        @include supTitle;
        
        color: #000000;
    }
    
    &__title {
        width: 460px;
        
        font-family: $fontUltra;
        font-size: 72px;
        line-height: 80px;
        
        color: #000000;
        
        position: relative;
        
        padding-right: 10px;
        
        &::before {
            content: "";
            display: block;
            
            width: 64px;
            height: 56px;
        
            position: absolute;
            top: -40px;
            right: 125px;
            
            background-image: url(../images/crumbs/crumbs_intro.svg);
            background-size: contain;
            background-repeat: no-repeat;
            
            z-index: 1;
        }
    }
    
    &__subtitle {
        font-size: 20px;
        
        color: #000000;

    }
}


/* ABOUT */
.about {
    margin: 50px 0;
    padding: 70px 0;
    
    &__inner {
       display: flex; 
       align-items: flex-end;
       margin-top: 30px
    }
    
    &__row {
        flex: 0 0 50%;
    }
    
    &__row--left {
        margin-bottom: -45px;
    }
    
    &__baking-img {    
        background-image: url(../images/bg_insert/fleck_bg.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        
        height: 519px;
        
        display: flex;
        justify-content: center;
        
        position: relative;
        
         &::before {
            content: "";
            display: block;
            
            width: 154px;
            height: 134px;
            
            position: absolute;
            top: -65px;
            right: 85px;
            
            background-image: url(../images/crumbs/crumbs-about_1.svg);
            
            
            color: #171B1B;
            
            z-index: 1;
        }
        
        &::after {
            content: "";
            display: block;
            
            width: 100px;
            height: 87px;
            
            position: absolute;
            bottom: 185px;
            left: -35px;
            
            transform: rotate(-3deg);
            
            background-image: url(../images/crumbs/crumbs-about_2.svg);
            
            
            color: #171B1B;
            
            z-index: 1;
        }
            
    }
    
    &__image-1 {
        display: block;
        width: 370px;
        max-width: 100%;
        
        
        position: absolute;
        top: -130px;
        left: -45px;
        
        border-radius: 10px;
        
        z-index: 99;
    }
    
    &__image-2 {
        display: block;
        width: 400px;
        max-width: 100%;
        height: 400px;
        
        position: absolute;
        top: 70px;
        
        border-radius: 10px;
        
        z-index: 100;
    }
    
    &__heading {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }
    
    &__suptitle {
        @include supTitle;
        
        margin: 0;
    }
    
    &__title {
        @include titleHeading;
        
        margin: 10px 0 0;
    }
}
/* Accordion */
.accordion {
    display: flex;

    &__col-btn {
        display: flex;
        flex-direction: column;
        
        margin: 90px 35px 0 0;
    }
    
    &__button {
        width: 48px;
        height: 48px;
        
        border: 0;
        border-radius: 50%;
        
        background-color: #171B1B;
        
        margin: 5px 0;
        
        span {
            color: #F5D3AB;
        }
    }
    
    &__text {
        
    }
    
    &__num {
        @include supTitle;
        
        margin-top: 25px;
    }
    
    &__title {
        font-family: $fontOswald;
        font-size: 24px;
    }
    
    &__paragraf {
        max-width: 370px; 
        
        color: #3333337F;
    }
    
    &__title-last {
        
    }
}


/* FEATUERS */
.features {
    margin-bottom: 45px;
    
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__heading {
        text-align: center;
    }
    
    &__suptitle {
        @include supTitle;
        
        margin-bottom: 10px;
    }
    
    &__title {
        @include titleHeading;
        
        margin: 5px 0 25px;
    }
    
    &__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        margin: 35px 0 40px;
    }
    
    &__item {
        flex: 0 0 30%;
        
        padding: 35px 35px;
        
        transition: .3s linear;
        
        &:hover {
            margin: -15px 0;
            
            transition: .7s linear;
        }
    }
    
    &__item--hover {
        background-image: url(../images/card__features/bread-2.png);
        background-position: top right;
        background-size: auto;
        background-repeat: no-repeat;
        
        background-color: #F9BF77;
    }
    
    &__icon {
        display: block;
        width: 102px;
        height: 87px;
    }
    
    &__point {
        @include featuresTitleCard;
        
        margin-bottom: -5px;
    }
    
    &__paragraf {
        color: rgba(51, 51, 51, 0.5);
    }
}


/* STORY */
.story {
    margin: 35px 0;
    
    
    &__inner {
        width: 100%;
        height: 100%;
        
        position: relative;
    }
    
    &__video {
        width: 100%;
        height: 480px;
        
        object-fit: cover;
          
        z-index: 0;
    }
    
    video::-webkit-media-controls-panel {
        display: none;
    }
    
    &__controler {
        width: 60%;
        
        position: absolute;
        top: 50%;
        left: 50%;
        
        transform: translate(-50%, -50%);
    }
    
    &__navigation {
        display: flex;
        justify-content: space-between;
    }
    
    &__player {
        align-self: center;
    }
    
    &__btn {
        width: 160px;
        height: 160px;
        
        border: none;
        border-radius: 50%;
        
        background-color: #171B1B;
        
        cursor: pointer;
        
        span {
            display: block;
            
            color: #F5AE5C;
            
            transform: rotate(90deg);
        }
    }
    
    &__text {
        max-width: 475px;
    }
    
    &__suptitle {
        @include supTitle;
        
        margin-bottom: 10px;
    }
    
    &__title {
        @include titleHeading;
        
        margin: 5px 0 25px;
    }
}


/* PRODUCTS */
.products {
    margin: 25px 0 35px;
    
    &__inner {
        display: flex;
        flex-direction: column;
    }
    
    &__heading {
        margin-top: 15px;
        
        max-width: 520px;
    }
    
    &__suptitle {
        @include supTitle;
        
        margin-bottom: 10px;
    }
    
    &__title {
        @include titleHeading;
        
        margin: 5px 0 25px;
    }
    
    &__work {
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    &__item-1 {
        width: 100%;
        max-width: 740px;
        min-height: 418px;
        height: auto;
        
        background-image: url(../images/products/bread-1.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        flex-grow: 2;
        
        padding: 15px;
        
        position: relative;
        
        margin-bottom: 20px;
        
    }
    
    &__item {
        max-width: 100%;
        height: auto;
        max-height: 448px;
        
        margin-left: 20px;
        
        flex-grow: 1;
    }
    
    &__item:nth-child(3) {
        margin-left: 0;
    }
    
    &__explore {
        @include buttonExplore;
    }
}
/* Article 1 */
.article-1 {
   
    &__text {
        margin-left: 20px;

        position: absolute;
        bottom: 10px;
    }
    
    &__suptitle {
        @include supTitle;
        
        color: #FFFFFF;
    }
    
    &__point {
        @include featuresTitleCard;
        
        color: #FFFFFF;
        
        margin: -10px 0;
    }
    
    &__paragraf {
        color: rgba(255, 255, 255, 0.5);

    }
    
    &__value {
        position: absolute;
        right: 30px;
        bottom: 0px;
    }
    
    &__price {
        @include featuresTitleCard;
        
        color: #FFFFFF;
    }
}
/* Article */
.article {
    position: relative;
    
    &__img {
        display: block;
        width: 370px;
        max-width: 100%;
    }
    
    &__text {
        margin-left: 20px;
    }
    
    &__suptitle {
        @include supTitle;
        margin: 0;
        margin-top: 15px;
        
    }
    
    &__point {
        @include valueCardName;
        margin-top: 10px;
    }
    
    &__value {
        position: absolute;
        right: 30px;
        bottom: -50px;
    }
    
    &__price {
        @include featuresTitleCard;
    }
}


/* PROCESS */
.process {
    padding: 45px 0;
    
    background-color: #171B1B;
    
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__heading {
        text-align: center;
    }
    
    &__suptitle {
        @include supTitle;
        
        color: #FFFFFF;
        
        margin-bottom: 10px;
    }
    
    &__title {
        @include titleHeading;
        
        color: #FFFFFF;
        
        margin: 5px 0 25px;
    }
    
     &__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        margin: 35px 0 40px;
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        flex: 0 0 244px;
        
        padding: 15px 25px 35px 15px;
        
        transition: .3s linear;
        transition: background-position 0s;
        
        background-color: #FFFFFF;
        
        &:hover {
            margin: -15px 0;
            
            background-image: url(../images/card__process/Bread.png);
            background-position: top right;
            background-size: auto;
            background-repeat: no-repeat;

            background-color: #F9BF77;
        }
    }
    
    &__num {
        font-family: $fontOswald;
    }
    
    &__point {
        @include featuresTitleCard;
        
        margin-bottom: -5px;
    }
    
    &__paragraf {
        color: rgba(51, 51, 51, 0.5);
    }
    
}


/* RECIPES */
.recipes {
    padding: 45px 0;
    
    background-color: #171B1B;
    
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    &__heading {
        text-align: left;
    }
    
    &__suptitle {
        @include supTitle;
        
        color: #FFFFFF;
        
        margin-bottom: 10px;
    }
    
    &__title {
        @include titleHeading;
        
        color: #FFFFFF;
        
        margin: 5px 0 25px;
    }
    
    &__works {
        display: flex;
        flex-direction: row;
        
        margin: 25px 0 30px;
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
    }
    
    &__row-left {
        width: 570px;
        
        height: auto;
    }
    
    &__row-right {
        width: 580px;
        
        flex-wrap: wrap;
        
        height: 736px;
    }
    
    &__item {
        width: 270px;
        
        height: 352px;
        
        background: #FFFFFF;
        
        margin: 0 0 32px 20px;
    }
    
    &__item-1 {
        min-height: 736px;
        
        background: #FFFFFF;
        
        margin-left: 0;
    }
    
    
    &__serving {
        display: block;
        max-width: 570px;
        
    }
    
    &__text {
        margin: 0 30px;
    }
    
    &__name {
        @include supTitle;
    }
    
    &__point {
        @include featuresTitleCard;
        
        margin: -10px 0 5px;
    }
    
    &__paragraf {
        color: #333333;
        padding-bottom: 10px;
    }
    
    &__time {
        position: relative;
    }
    
    &__clock {
        display: block;
        
        width: 24px;
        height: 24px;
        
        position: absolute;
        bottom: 35px;
        right: 60px;
    }
    
    &__clock-2 {
        width: 12px;
        height: 12px;
        
        top: 27px;
        right: 60px;
    }
    
    &__min {
        @include valueCardName;
        position: absolute;
        bottom: 7px;
        right: 0;
    }
    
    &__min-2 {
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: right;
        
        top: 17px;
    }
    
    &__img {
        display: block;
        width: 270px;
    }
    
    &__text-minimal {
        display: flex;
        justify-content: space-between;
        
        position: relative;
    }
    
    &__name-2 {
        color: #3333337F;

    }
    
    &__time-2 {
        display: flex;
    }
    
    &__txt {
        font-size: 20px;
        margin-left: 30px;
    }
    
    &__explore {
        @include buttonExplore;
        
        border: 1px solid #FFFFFF4B;
        background-color: #171B1B;
        
        span {
            color: #FFFFFF;
        }
    }

}


/* BAKER */
.baker {
    padding: 45px 0;
    
    &__inner {
        display: flex; 
        align-items: flex-end;
        margin-top: 30px
    }
    
    &__row {
        flex: 0 0 50%;
    }
    
    &__row-left {
        margin-top: 35px;
    }
    
    &__heading {
        display: flex;
        flex-direction: column;
        margin-bottom: 35px;
    }
    
    &__suptitle {
        @include supTitle;
        
        margin: 0;
    }
    
    &__title {
        @include titleHeading;
        
        margin: 10px 0 0;
    }
}











































